<link rel='stylesheet' href='/stylesheets/views/index.css' />

<!-- Uses built-in `if` helper. -->
<div class="container">
    <div id="wrapper" class="mt-4">
        <h1 class="text-center">
            {{message}}
        </h1>
    </div>
</div>